svg {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}

.python:hover {
    color: #3776AB;
}

.javascript:hover {
    color: #F7DF1E;
}

.typescript:hover {
    color: #3178C6;
}

.java:hover {
    color: #EC2025;
}

.html:hover {
    color: #E34F26;
}

.css:hover {
    color: #1572B6;
}

.react:hover {
    color: #61DAFB;
}

.tailwind:hover {
    color: #38B2AC;
}

.django:hover {
    color: #092E20;
}

.mongodb:hover {
    color: #47A248;
}

.node:hover {
    color: #68A063;
}

.express:hover {
    color: #000000;
}

.astro:hover {
    color: #FF5D01;
}

