---
import { mainMenu } from '../data/menuData';
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import '../styles/global.css';
---

<Layout>
	<div class="relative min-h-screen px-5 text-white [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
		<Navbar origin={mainMenu} />
		<div class="bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
			<Welcome />
			<About />
		</div>
	</div>
	
</Layout>
