---
import { Icon } from 'astro-icon/components';
---


<section class="flex flex-col md:flex-row items-center justify-center text-white p-5 space-y-4 md:space-y-0 md:gap-30 bg-violet-950 border-y-[.5rem] md:border-y-[1rem] border-dashed">
    <p class="text-9xl font-extrabold w-full md:w-auto text-center md:text-left">Shall<br>we?</p>

    <div class="text-center md:text-left max-w-lg">
        <p class="p-2 text-justify">Based in Argentina, I'm ready to collaborate with teams that work in English and Spanish to design and deliver innovative IT solutions. I'm passionate about using technology to solve challenges and create impactful results. Let's team up and build something great together!</p>
        <a href="mailto:ezequiel.purro@gmail.com" class="mt-4 inline-flex items-center space-x-2 border-2 border-dashed hover:border-yellow-300 hover:text-yellow-200 rounded-2xl font-bold px-6 py-3 mb-10">
            <!-- <Icon name="email" class="w-5 h-5" /> -->
            <span>Email me</span>
        </a>
        
    </div>
</section>

