---
const { origin } = Astro.props;

interface dataItem {
    link: string,
    content: string
}
---

<nav class="pt-5">
    <div class="h-10 lg:h-15 w-full flex justify-center items-center border rounded-2xl mt-5 md:motion-translate-y-in-150 md:motion-delay-100 md:motion-opacity-in-0">
        <ul class="flex lg:gap-20 gap-10">
            {
                origin.map((data:dataItem) => (
                    <li>
                        <a href={data.link} class="hover:underline">{data.content}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</nav>
