---
import { projectData } from '../data/projectData';
import Project from '../components/Project.astro';
---

<section id="portfolio" class="py-20">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-extrabold text-center mt-5">My Portfolio</h1>
        <p class="text-center mb-10 mt-3">A collection of projects I've developed or contributed to</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {projectData.map((project) => (
                <Project project={project} />
            ))}
        </div>
    </div>
</section>
