

<section class="p-10 min-h-[90%] flex flex-col lg:flex-row items-center justify-center mt-20">
    <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start text-center lg:text-left lg:pl-50" style="filter: drop-shadow(0 0 40px rgb(255, 255, 255))">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-transparent bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text md:motion-translate-x-in-25 md:motion-delay-200 md:motion-opacity-in-0">
            Ezequiel Purro
        </h1>
        <p class="mt-5 text-lg md:text-xl lg:text-2xl md:motion-translate-x-in-25 md:motion-delay-200 md:motion-opacity-in-0" style="filter: drop-shadow(0 0 40px rgb(255, 255, 255))">My Portfolio</p>
        <a href="/cv.pdf" download class="mt-5 px-3 py-3 text-white border font-semibold rounded-lg shadow-md hover:bg-white hover:text-black transition duration-300 ease-in-out md:motion-translate-x-in-25 md:motion-opacity-in-0 md:motion-delay-200 hover:scale-110">
            Download Resume
        </a>
    </div>

    <div class="w-full lg:w-1/2 flex justify-center mt-15 lg:mt-0 lg:pr-50">
        <img src="/me.jpeg" alt="Ezequiel Purro" class="w-auto h-auto max-w-[150px] md:max-w-[200px] lg:max-w-[300px] rounded-full md:motion-translate-y-in-50 md:motion-opacity-in-0 md:motion-delay-200" style="filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.15))" />
    </div>
</section>
