

<div class="p-30 flex flex-col lg:flex-row items-center">
    <div class="w-full lg:w-1/2 text-center lg:text-left lg:pl-40">   
        <div class="text-5xl lg:text-6xl text-transparent font-extrabold">
            <span class="bg-gradient-to-r from-cyan-500/50 to-blue-500 bg-clip-text">Ezequiel Purro</span>
        </div>
        <p class="mt-5 text-xl lg:text-2xl">My Web Developer Portfolio</p>
    </div>
    <div class="w-full lg:w-1/2 flex justify-center mt-6 md:mt-10">
        <img src="/me.jpeg" alt="Ezequiel Purro" class="h-60 lg:h-120 rounded-full">
    </div>
</div>
