

<section class="p-10 min-h-[90%] flex flex-col lg:flex-row items-center justify-center mt-20">
    <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start text-center lg:text-left lg:pl-50">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-transparent bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text">
            Ezequiel Purro
        </h1>
        <p class="mt-5 text-lg md:text-xl lg:text-2xl">My Portfolio</p>
    </div>

    <div class="w-full lg:w-1/2 flex justify-center mt-15 lg:mt-0 lg:pr-50">
        <img src="/me.jpeg" alt="Ezequiel Purro" class="w-auto h-auto max-w-[150px] md:max-w-[200px] lg:max-w-[300px] rounded-full">
    </div>
</section>
